.admin{
    padding: 2rem 0;
}
 
 .admin__nav{
    background-color: var(--clr-primary-100);
    color: white;
    padding: 1.5rem;
}

.admin__nav .admin__nav-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.Admin__order-container{
max-width: 500px;
}

.order-container__card{
    padding: 0.5rem;
    box-shadow: 0 0 4px 1px var(--clr-dim-100);
    cursor: pointer;
    transition: all 0.5s;
}

.order-container__card:hover h1{
 color: red;
}

.order-container__card:hover{
     box-shadow: 0 0 4px 1px var(--clr-primary-100);
}